<h1>Profil uporabnika</h1>
<h2>Ime: </h2>
<h3>{{username}}</h3>
<h2>Mail:</h2>
<h3>{{email}}</h3>
<p>Število psotavljenih vprašanj: {{questionnum}}</p>
<p>Število komentarjev: {{commentnum}}</p>
<hr />
<h6>Profilna slika</h6>
<img src="{{path}}" title="{{username}}" width="400" />
<br />
<br><a type="button" href="logout">Odjava </a>
